@media (max-width: 991.98px) { 
    #navbar,.header{
        display: none;
    }
    .icons i{
        font-size: 14px;
       }
       .close-nav-menu,.open-nav-menu{
		display: flex;
	}
    .home .container{
        padding-top: 3em;
       }
       .home .container .row  h1{
        font-size: 36px;
       }
       .gallery-item {
        border-right: none;
       }
       .deal_ofthe_week{
        background-position: center;
       }
       .deal_ofthe_week .container .row{
        justify-content: center;
       }
       .timer li{
        width: 70px;
        height: 70px ;
        margin-right: 5px;
       }
       .timer li .timer_num{
        font-size: 24px;
       }
       .timer li .timer_unit{
        font-size: 14px;
       }
       .benefit_item{
        width: 100%;
        margin-bottom: 20px;
       }
       .blog-item{
        padding-bottom: 15px;
     }
     .benefit_item{
        border-right: none;
        
     }
   

 @media (max-width: 700px){
    .icons i{
        font-size: 10px;
       }
       .open-nav-menu i,.open-close-menu i{
        font-size: 13px;
       }
       nav .container{
        padding: 10px 8px;
    }
       #logo{
        font-size: 16px;
       }
       .checkout_items{
        width: 15px;
        height: 15px;
        left: 20px;
       }
       .fa-shopping-cart{
        padding: 10px;
       }
       .hamburgermenu{
        width: 100%;
       }
       .home .container{
        padding-top: 2em;
       }
       .home .container .row  h1{
        font-size: 24px;
       }
       .home .container .row a{
        font-size: 11px;
        padding: 10px 20px;
       }
       .banner_category a{
        font-size: 10px;
       }
       .first{
        margin: 25px 0;
    }
    .timer li{
        width: 50px;
        height: 50px ;
    }
    .timer li .timer_num{
        font-size: 16px;
       }
       .timer li .timer_unit{
        font-size: 10px;
       }
       .deal_ofthe_week h2{
        font-size: 24px;
      }
      .link_shop a{
        font-size: 14px;
      }
    
      .blog-title {
        font-size: 12px;
         }
         .blog-meta{
            font-size: 10px;
         }
        
      
    }
    .newsletter-text{
        text-align: center;
    }
    .newsletter_submit_btn {
        height: 36px;
        width: 100px ;
    }
    .newsletter-email{
        width: 200px;
    }
    .sidebar{
        width: 100%;
    }
    
}